/* Default Styles */

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'popins', sans-serif;
}

/* Style for whole page body */
body{
    background: #002339;
    color: #fff;
}

.container{
    max-width: 700px;
    width: 90%;
    margin: 12%;
}

/* Styles for input box */

.display{
    width: 100%;
    margin-top: 50px;
    background: #fff;
    color: #333;
    display: flex;
    margin-bottom: 30px;
    align-items: center;
    justify-content: space-between;
    padding: 26px 20px;
    border-radius: 5px;
}

/* Style for heading */

.container h1{
    font-weight: 500;
    font-size: 45px;
}

/* Style for heading span tag */

.container h1 span{
    color: #019f55;
    border-bottom: 4px solid #019f55;
    padding-bottom: 7px;
}

/* Css styles for the icons and imeges*/

.display img{
    width: 30px;
    cursor: pointer;
}

/* Styles for input field */

.display input{
    border: 0;
    outline: 0;
    font-size: 24px;
}